#latitude {
    margin: 0px 30px;
    background-color:#4aaaa5;
    color: white;
    font-weight: bold;
}

.container-fluid{
    background-color:rgba(201, 204, 207, 0.644);
    position: fixed;
    width: 100%;
    height: 100%;

    background: white;
}

#summary{
    background-color: #fff;
    

}

#comparison{
    border-radius: 15px 50px;
    margin: 100px;
    padding: 30px;
    margin-top: 100px;
    margin-left: 70px;
    background-color: whitesmoke;
}

#summaryimg{
    width:40%;
    height:40%;
    margin: 20px;
    float:left;
}

#images{
    border-radius: 25px;

    width: 100%;

    /* Box-model */
    padding: 30px 30px 43px;
  
    /* Positioning */
    margin-top: 32px;
  
    /* Visual */
    background-color: #fff;
}

.summary-content{
    border-radius: 15px 50px;
    margin: 100px;
    padding: 60px;
    margin-top: 100px;
    margin-right: 70px;
    background-color: whitesmoke;
}

.comparisonImg{
    width: 140px;
    height: 140px;
    
}

.comparisonImg:hover{
    opacity: 0.6;
}

.nav-item {
    font-weight: bold;
}


#caption {
    font-weight: bold;
    color: #4aaaa5;
    text-align: center;
    font-size:x-large;
}

.center {
    margin-left:auto;
    margin-right: auto;
}
